<!-- add-secret.component.html -->
<div class="container my-3">
    <h2>Please! Write down your secret.</h2>
    <form (ngSubmit)="handleClick()" class="my-3">
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="secret"
          name="description"
          minlength="5"
          required
        />
      </div>
      <button [disabled]="secret.length < 5" type="submit" class="btn btn-primary">
        Add Secret
      </button>
    </form>
  </div>
  